{% extends 'Food/base.html' %}
{% block content %}

<div class="row">

    <div class="col-md-6">
        <img src="{{Item.item_img.url}}" alt="{{item.item_name}}" class="img-fluid w-100">
    </div>
    <div class="col-md-6">
        <h2>{{Item.item_name}}</h2>
        <p>{{Item.item_desc}}</p>
        <p>{{Item.item_price}}$</p>
        <p>{{Item.user_name.username}}</p>
        <a href="{% url 'food:delete_item' Item.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>

<!-- <h2>{{item.item_name}}</h2>
<p>{{item.item_desc}}</p>
<p>{{item.item_price}}$</p> -->
{% endblock content %}